.container {
  width: 500px;
  text-align: center;
  border: 3px solid #2a2438; 
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
  list-style-type: none;
  font-style: italic;
}